
<html>
<head>
  <meta charset="utf-8">


  <!--ADD ALL CSS STYLE-SHEETS -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel=stylesheet type=text/css href="static/css/upload/bootstrap.min.css">
<link rel=stylesheet type=text/css href="static/css/upload/progress.css">
<link rel=stylesheet type=text/css href="static/css/upload/dropzone.css">
<link rel=stylesheet type=text/css href="static/css/upload/up.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script type="text/javascript" src="static/js/upload/upla.js" > </script>
<script type="text/javascript" src="static/js/upload/something.js" > </script>

<script type="text/javascript" src="static/js/upload/uids.js" > </script>

<script type="text/javascript" src="static/js/upload/filepicker.js" > </script>
<script type="text/javascript" src="static/js/upload/api.js" > </script>
<script type="text/javascript" src="static/js/upload/dropzone.js" > </script>
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/responsive.css">



<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="q35o4p01rr1byor"></script>
<script src="https://www.google.com/jsapi?key=AIzaSyDTpfIEYydGLzzhKRrm41LaqFssZLiqsjU"></script>
<script src="https://apis.google.com/js/client.js?onload=initPicker"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


<style>
.btn {
border: 2px solid gray;
color: gray;
background-color: white;
padding: 8px 20px;
border-radius: 8px;
font-size: 20px;
font-weight: bold;
}
.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}
</style>

</head>

<body>

<header class="header_area">
  <div class="top_menu row m0">
    <div class="container">
      <div class="float-left">
        <ul class="left_side">
          <li>
            <a href="login.html">
              <i class="lnr lnr-phone-handset"></i>
              012-6532-568-9746
            </a>
          </li>
        </ul>
      </div>
      <div class="float-right">
        <ul class="right_side">
          <li>
            <a href="#">
              <i class="lnr lnr-envelope"></i>
              lungvision@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <div class="row ml-0 w-100">
            <div class="col-lg-12 pr-0">

              {% if current_user.is_authenticated %}
              {% with name = get_flashed_messages() %}
              {% if name %}

              <h2> Welcome, {{name}} </h2>

                {% endif %}
                {% endwith %}
                {% endif %}


              <ul class="nav navbar-nav center_nav pull-right">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>


                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item ">
                  <a class="nav-link"href="{{ url_for('auth.logout') }}">  Logout</a>
                </li>

                {% endif %}

                <li class="nav-item ">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>

            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<section class="home_banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content row">
        <div class="col-lg-12">
          <div class="card black">
            <div class="card-content white-text">
              <span class="card-title">
                <i class="fas fa-file-medical fa-2x"> </i>
                Upload .mhd and .raw files
              </span>

                <div class="frame" id="myDiv" >
      <div class="center">
        <div class="bar"></div>
        <div class="title">Select and Upload files</div>
        <div id="MyDiv" class="drop-zone" draggable="true">
          <div class="content">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload">
                <span class="filename"></span>
                <form method=post enctype=multipart/form-data>
                  <input type=file  name=file[] multiple="">
                  <input class="main_btn text-uppercase" type=submit value=Upload onclick="$('#loading').show();">
                </form>
                  </div>
         </div>
      </div>
    </form>
</div>


            </div>

               <div class="single_service">
                <div id="loading" style="display:none;"><img src="static/img/fileload.gif" alt="" />Loading!</div>
             </div>

        </div>
      </div>
     </div>

    </div>



        </div>





  <footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2  col-md-6">
					<div class="single-footer-widget">

					</div>
				</div>
				<div class="col-lg-4  col-md-6">
          <div class="single-footer-widget mail-chimp">
            <h6 class="mb-20">Contact Us</h6>
            <p>
              Deptartment of Computer Science</br>
               Government Engineering College, Sreekrishnapuram </br>
               Palakkad

            </p>
            <h3>+91-7356162825</h3>
            <h3>+91-6282865639</h3>
          </div>
				</div>
				<div class="col-lg-6  col-md-12">
					<div class="single-footer-widget newsletter">
						<h6>Visit @ LungCare.com</h6>
						<p>You can trust us.</p>
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>


			</div>
		</div>
	</footer>


</body>

</html>
